.story-content {
  position: absolute;
  top: 400px;
  left: 600px;
  width: 1400px;
  display:flex;
  height: 120px;
  background: transparent;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.story-content p {
  white-space: pre;
  font-family: 'Gulzar', serif;
  font-size: 36px; /* Reduced from 40px */
  line-height: 1.7;
  text-align: center;
  margin: 0;
  color: #333;
  word-wrap: normal;
  overflow: visible;
}
.story-content.page-1 {
  top: 20vh;
  left: 30vw;
  width: 29vw;
  height: 200px;
}

.story-content.page-2 {
  top: 20vh;
  left: 35vw;
  width: 29vw;
  height: 200px
}
.story-content.page-3 {
  top: 8vh;
  left: 60vw;
  width: 29vw;
  height: 200px
}

.home-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  left: 20px;
  cursor: pointer;
}
.nav-button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  pointer-events: all;
}
.story-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  pointer-events: none;
}
.story-reader {
  height: 100vh;
  overflow: hidden;
}